#stars-frame .fa-star {
  margin: 0.3em;
  font-size: 1.75em;
  background-color: red;
}

#stars-frame, #answer-frame {
  width: 20%;
  float: left;
}

#button-frame {
  width: 10%;
  float: left;
  text-align: center;
}

#stars-frame .well, #answer-frame .well {
  height: 150px;
}

#numbers-frame .number, #answer-frame .well span {
  display: inline-block;
  margin: 0.5em;
  background-color: #bbb;
  width: 30px;
  text-align: center;
  font-size: 22px;
  border-radius: 50%;
  cursor: pointer;
}

#numbers-frame{
  width: 50%;
}

#numbers-frame .selected-true{
  background-color: #e8e8e8;
  color: #ddd;
  cursor: not-allowed;
}

#numbers-frame .used-true{
  background-color: #aaddaa;
  color: #99bb99;
  cursor: not-allowed;
}

#done-frame {
  width: 50%;
}
